/*
The float property allows you to take an element in normal flow and place as far left or right in the 
containing element as possible. 

Anything else in the containing element will flow around the element that is floated.

When using float property, width property should also be used. (results can be inconsistent if not used)


*/

blockquote {
    float: right;
    width: 275px;
    font-size: 130%;
    font-style: italic;
    font-family: Georgia, Times, serif;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}