body {
    text-align: center;
}
p.one {
    width: 250px;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

p.two {
    width: 250px;
    border-width: thick;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

p.three {
    width: 250px;
    border-width: 1px 4px 12px 4px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}
p.four {
    width: 250px;
    border: 3px dotted #0088dd;
}
p.five {
    width: 275px;
    border: 2px solid #0088dd;
}
p.six {
    width: 275px;
    border: 2px solid #0088dd;
    border-radius: 20px;
    padding: 10px;
    margin: 20px auto 20px auto;
    text-align: left;
}